*{
    margin: 0;
    padding: 0;
    
}
.btn {
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    background-color: #fd6e0a;
    cursor: pointer;
    border-radius: 5px;
   
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #fff8f3;
    background: url(../images/developer.png), url(../images/header_bg.png), #fff8f3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
   
}
.color-orange{
    color: #fd6e0a;
}
nav{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}
nav .menu li a{
   
    color: #474747;
    font-size: 20px;
   text-decoration: none;
}

#banner{
    /*border: 1px solid red;*/
    margin: 47px 38px 0 223px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 600px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    }

    #banner .banner-content h1{
        font-size: 70px;
        font-weight: bold;
        color: #181818;
        margin-bottom: 20px;


    }
    #banner .banner-content p{
        font-size: 18px;
        color: #757575;
        margin-bottom: 30px;
    }
    #banner .banner-image img{
        max-width: 585px;
        vertical-align: middle;
    }